/* CUERPO / GENERAL*/
body {
    background-color: #121212; 
    color: #ffffff;           
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* NAVBAR */
.navbar-logo {
    max-height: 65px;   
    width: auto;
}

#navbar_container{
    background-color:#bed741;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-link:hover {
    color: white !important; 
}


/* H1 */
h1 {
    color: #bed741;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}


/* FOOTER */
.footer_viper {
    background-color: #1a1a1a; 
    border-top: 2px solid #bed741; 
}

.proveedor-nombre {
    font-size: 0.75rem;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 2px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    cursor: default;
}

.proveedor-nombre:hover {
    opacity: 1;
    color: #bed741;
}

.energia-suministrada {
    letter-spacing: 0.2rem;
}

.imagen-footer {
    height: 30px;
}

.viper-footer {
    color: #bed741;
}

.texto {
    color: #bed741;
    font-weight: 500;
}

